<?xml version="1.0"?>
<config>
    <modules>
        <KPiotrowicz_BundleReview>
            <version>0.1.0</version>
        </KPiotrowicz_BundleReview>
    </modules>
    <frontend>
        <routers>
            <bundlereview>
                <use>standard</use>
                <args>
                    <module>KPiotrowicz_BundleReview</module>
                    <frontName>bundlereview</frontName>
                </args>
            </bundlereview>
        </routers>
    </frontend>
    <global>
        <events>
            <review_save_before>
                <observers>
                    <bundle_review>
                        <type>singleton</type>
                        <class>bundlereview/observer</class>
                        <method>bundleReview</method>
                    </bundle_review>
                </observers>
            </review_save_before>
        </events>
        <helpers>
            <bundlereview>
                <class>KPiotrowicz_BundleReview_Helper</class>
            </bundlereview>
        </helpers>
        <models>
            <bundlereview>
                <class>KPiotrowicz_BundleReview_Model</class>
            </bundlereview>
        </models>
    </global>
</config> 