<?xml version="1.0"?>
<config>
    <sections>
        <bundlereview translate="label" module="bundlereview">
            <label>Bundle Reviews</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <bundlereview translate="label">
                    <label>Bundle Reviews</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <skus translate="label">
                            <label>CSV connected products</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skus>
                    </fields>
                </bundlereview>
            </groups>
        </bundlereview>
    </sections>
</config>
